{{#if addNewCity}}
  <h2>New City</h2>
   <div>
     <form>

       <div class="form-group">
         <label for="city">City name: </label>
         {{input value=city id="city"}}
       </div>

       <div class="form-group">
         <label for="description">City description: </label>
         {{input value=description id="description"}}
       </div>

       <button {{action 'saveCity'}}>Save</button>
       <button {{action 'hideForm'}}>Hide</button>
     </form>
   </div>
{{else}}
  <button {{action 'formShow'}}>New City</button>
{{/if}}
