<nav class="navbar navbar-default">
  <a class="navbar-brand" href="/">KarmaYogiYoga</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item active" >
      <a class="nav-link " href="/admin">Admin<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>

{{new-studio saveStudio="saveStudio" myUser=model.users}}
{{new-city saveCity="saveCity" myUser=model.users}}
{{new-state saveState="saveState" myUser=model.users}}

{{new-user saveUser="saveUser"}}
{{display-user}}
<h3>Users:</h3>
<hr>
{{#each model.users as |user|}}
  {{user-tile user=user }}
{{/each}}
